@using AppWeb.Models;
@model List<ReservaCls>

@using (Ajax.BeginForm("Filtrar", "", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "divMisReservas",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmListado" }))

{
    <div id="divMisReservas">
        @Html.Partial("_TablaMisReservas", Model);
    </div>
    <p style="text-align:center">
        <button class="btn btn-primary" onclick="Grabar()">Grabar</button>
    </p>
}

<script>

    function Grabar() {
        if (confirm("Desea guardar la información?") == 1) {
            var total = document.getElementById("lblTotal").innerHTML;
            if (total == "0") {
                alert("Debe elegir un viaje para guardar");
                return;
            }
            $.get("MisReservas/GuardarDatos/?Total=" + total, function (data) {
                if (data == "OK") {
                    alert("Se guardo correctamente");
                    $("#frmListado").trigger("submit");
                } else {
                    alert("Ocurrió un error");
                }
            })
        }
    }

    function Eliminar(IdViaje) {
        if (confirm("Desea eliminar la reserva?") == 1) {
            var url = "Reserva/QuitarCookie/?IdViaje=" + IdViaje;
            //obtiene la respuesta del controller
            $.get(url, function (data) {
                if (data == "OK") {
                    alert("Se eliminó correctamente");
                    $("#frmListado").trigger("submit");
                } else {
                    alert("Ocurrió un error");
                }
            })
        }
    }
</script>
